.back-modal {
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    justify-items: center;
    align-content: center;
    
}

.bakery button {
    
    position: absolute;
    top: calc(50% - 10rem);
    right: calc(50% - 18rem);
    
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.bakery {
    height: 20rem;
    width: 36rem;
    background-color: var(--black);
    border-radius: 8px;
    
    align-content:center;
}

.bakery .container {
    max-height: 100%;
    overflow-y: auto;
    
}

.bakery .firstLine {
    width: 90%;
    margin-top: 1.6rem;
    height: calc(100% - 6.6rem - 20%);
    justify-self: center;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.firstLine img {
    max-width: 30%;
    max-height: 100%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;

}

.bakery h3 {
    margin: 0;
    font-size: 1.6rem;
    color: var(--yellow);
    
    overflow-y: auto;
}

.bakery .lastLine {
    margin-top: 1rem;
    width: 90%;
    height: 6rem;
    
    overflow-y: auto;
    
    justify-self: center;
}

.bakery h4 {
    margin: 0.3rem;
    color: var(--white);
    font-size: 1.1rem;
}

