.back-modal {
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    justify-items: center;
    align-content: center;
    
}

.bakery button {
    display: flex;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.bakery {
    background-color: var(--black);
    border-radius: 8px;
    max-width: calc(100% - 1rem);
    padding-bottom: 1rem;
}

.bakery .firstLineBakery {
    padding: 0rem 2rem 0rem 2rem;
    gap: 2rem;
    max-width: 32rem;
}

.bakery img {
    
    max-width: 100%;
    max-height: 8rem;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;

}

.bakery h3 {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    color: var(--yellow);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bakery .lastLineBakery {
    margin-top: 1rem;
    height: 6rem;
    overflow-y: auto;
    padding: 0rem 2rem 0rem 2rem;
    max-width: 32rem;
}

.bakery h4 {
    margin: 0.3rem 0 0.3rem 0;
    color: var(--white);
    font-size: 1.1rem;
    word-break:break-all;
}

.lastLineBakery b {
    color: var(--yellow);
}

@media (max-width: 480px) {
    .bakery .firstLineBakery {
        max-width: calc(100% - 1rem);
    }

    .bakery img {
        
        max-width: 100%;
        max-height: 6rem;
        object-fit: cover;     
        object-position: center;
        border-radius: 8px;

    }

    .bakery h3 {
        margin: 0;
        margin-top: 0.5rem;
        font-size: 20px;
        color: var(--yellow);

        overflow: hidden;
        text-overflow: unset;
        white-space: initial;
    }

    .bakery .lastLineBakery {
        margin-top: 0.5rem;
        height: 5.4rem;
        overflow-y: auto;
        padding: 0rem 2rem 0rem 2rem;
        max-width: calc(100% - 1rem);
    }

    .bakery h4 {
        /* margin: 0.3rem; */
        color: var(--white);
        font-size: 16px;
        
    }
}