.show-category {
    height: 16rem;
    width: 16rem;

    background-color: var(--black);
    border-radius: 10px;
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.category-info {
    width: 100%;
    height: calc(100% - 1.1rem);
    justify-items: center;
    align-content: center;

}

.category-info h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    text-align: center; 
}

.category-info img {
    margin-top: 1rem;
    max-width: 80%;
    height: 55%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;
    display: flex;
}


.show-category button {

    padding-bottom: 0%;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    padding: 0.5rem;
    width: 80%;

}

button:hover {
    background-color: var(--sec-yellow);
}

@media (max-width: 800px) {
    .show-category {
        width: 10rem;
        height: 12rem;
    }

    .category-info {
        width: 100%;
        height: calc(100%);
        justify-items: center;
        align-content: center;

    }

    .category-info h3 {
        margin-top: 0.4rem;
        margin-bottom: 0.5rem;
        font-size: 18px;
        width: calc(100% - 2rem);
    }

    .category-info img {
        margin-top: 0rem;
        max-width: calc(100% - 1.4rem);
        height: 50%;
        
    }
}