.title {
    min-height: 4rem;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.title h2 {
    font-size: 1.4rem;
}

.category-container {
    display:flex;
    
    justify-self: center;
    align-self: center;
    width: 90%;
    height: calc(100% - 4.5rem);
    
    overflow-y: auto;
    gap: 0.6rem;
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

@media (max-width: 800px) {
    .title {
        padding-top: 0.2rem;
        padding-bottom: 0.4rem;
        min-height: 2.8rem;
    }

    .title h2 {
        font-size: 20px;
    }

    .category-container {
        width: calc(100% - 1rem);
        height: calc(100% - 4rem);
        gap: 0.5rem;
  
    }
}