.back {
    height: 100vh;
    width: 100vw;
}

.top-bar {
    height: var(--bar-height);
    width: 100vw;
    background-color: var(--black);
    color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.top-short {
    display: none;
}

.top-long {
    display: inline;
}

.top-bar button {

    position: absolute;
    
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--yellow);
    height: calc(var(--bar-height) - 1rem);
    
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conf {
    left: 1rem;
    font-size: 2.2rem;
}

.logout {
    right: 1rem;
    font-size: 2.1rem;
}

.top-bar button:hover {
    background-color: var(--gray);
}

.back-select {
    height: calc(100vh - var(--bar-height) - 1rem);
    width: calc(100vw - 2rem);
    overflow: hidden;
    background-color: var(--gray);
    border-radius: 10px;
    justify-self: center;
}

.select-header {
    width: 100%;
    height: 5rem;
    color: var(--white);
    justify-items: center;
    align-content: center;
}

.select-header h2 {
    font-size: 1.4rem;
}

.bakery-container {
    display:flex;
    justify-self: center;
    align-self: center;
    width: calc(100% - 1rem);
    height: calc(100% - 5.5rem);
    overflow-y: auto;
    gap: 0.6rem;
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}




@media (max-width: 768px) {

    .top-short {
      display: inline;
    }
    .top-long {
      display: none;
    }

    .back-select {
      height: 92vh;
    }
  
}