.back {
    height: 100vh;
    width: 100vw;
}

.top-bar {
    height: var(--bar-height);
    width: 100vw;
    background-color: var(--black);
    color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.top-short {
    display: none;
}

.top-long {
    display: inline;
}

.top-bar button {

    position: absolute;
    
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--yellow);
    height: calc(var(--bar-height) - 1rem);
    
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conf {
    left: 1rem;
    font-size: 2.2rem;
}

.stat {
    left: calc(var(--bar-height) + 0.5rem);
    font-size: 1.8rem;
}

.logout {
    right: 1rem;
    font-size: 2.1rem;
}

.top-bar button:hover {
    background-color: var(--gray);
}

.back-select {
    height: calc(100vh - var(--bar-height) - 1rem);
    width: calc(100vw - 2rem);
    overflow: hidden;
    background-color: var(--gray);
    border-radius: 10px;
    justify-self: center;
}

.select-header {
    width: 100%;
    height: 5rem;
    color: var(--white);
    justify-items: center;
    align-content: center;
}

.select-header h2 {
    font-size: 1.4rem;
}

.bakery-container {
    display:flex;
    justify-self: center;
    align-self: center;
    width: calc(100% - 1rem);
    height: calc(100% - 5.5rem);
    overflow-y: auto;
    gap: 0.6rem;
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

/* .bar-setting-op {
    display: none;
} */


@media (max-width: 800px) {

    .top-bar {
        height: var(--mobile-bar-height);
        font-size: 24px;
    }

    .top-short {
      display: inline;
    }
    .top-long {
      display: none;
    }

    .top-bar button {
        height: calc(var(--mobile-bar-height) - 0.8rem);
        aspect-ratio: 1/1;
        /* background-color: var(--gray); */
    }

    .conf {
        left: 0.5rem;
        font-size: 1.6rem;
    }

    .stat {
        left: calc(var(--mobile-bar-height) + 0.5rem);
        font-size: 1.5rem;
    }

    .logout {
        right: 0.5rem;
        font-size: 1.6rem;
    }

    .back-select {
        height: calc(100dvh - var(--mobile-bar-height) - 0.5rem);
        width: calc(100vw - 1rem);
    }

    .select-header {
        text-align: center;
        min-height: 4.4rem;
        height: auto;
    }
  
    .select-header h2 {
        font-size: 20px;
        padding: 0 1rem 0 1rem;
    }

    .bakery-container {
        height: calc(100% - 4.9rem);
    }
}