:root {
    --home-bar-width: 18rem;
}

.notifications {
    font-size: 1.5rem;
    right: calc(var(--bar-height) + 0.5rem);
    
}

.notifications-selected {
    font-size: 1.5rem;
    right: calc(var(--bar-height) + 0.5rem);
    background-color: var(--gray) !important;
    
}

.new-notif {
    background-color: var(--gray);
    position: absolute;
    margin: 0;
    top: 0.6rem;
    right: 4.6rem;
    font-size: 0.8rem;
    z-index: 2;
    height: 1rem;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    align-content: center;
    padding: 0rem 0.1rem 0.15rem 0.1rem;
}

.back-home {

    height: calc(100vh - var(--bar-height));
    width: 100vw;
    display: flex;
    gap: 0.25rem;
}

.home-bar {
    height: calc(100% - 1rem);
    width: var(--home-bar-width);
    background-color: var(--black);
    overflow-y: auto;
}

.home-body {
    width: calc(100vw - var(--home-bar-width) - 1.25rem);
    height: calc(100% - 1rem);
    background-color: var(--gray);
    border-radius: 10px;
    
}

.home-bar button {
    width: calc(100% - 1rem);
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: center;
    padding: 0.6rem;
    margin-bottom: 0.2rem;
    border: none;
    border-radius: 8px;
    
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

}

.home-bar .home-go-back {
    background-color: var(--yellow);
    color: var(--black);
    gap: 0.5rem;
    display: flex;
}

.home-bar .home-go-back:hover {
    background-color: var(--sec-yellow);
    color: var(--black);
}

.back-home .separators {
    padding-top: 0.4rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 0.1rem;
    font-weight: bolder;
    color: var(--yellow);
}

.home-bar .text {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 89%;
}

.home-bar .op {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--white);
    font-weight: normal;
}

.home-bar .op-selected {
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: normal;
}

.home-bar .op:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.home-bar .op-left {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}