:root {
    font-family: 'Segoe UI';
    /* line-height: 1.5;
    font-weight: 400; */

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #232323;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --orange: #ecac23;
    --black: #232323;
    --gray: #3b3b3b;
    --white: #F2F4F3;
}
