:root {
    font-family: 'Segoe UI';

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #232323;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --yellow: #ecac23;
    --sec-yellow:#b58723;
    --black: #232323;
    --gray: #3b3b3b;
    --sec-gray: #303030;
    --white: #F2F4F3;
    --blue: #66c2c2;
    --sec-blue: rgb(81, 164, 164);
    --red : #d50000;
    --sec-red : #a70000;
    
}

input {
    font-family:'Segoe UI';
}

button {
    transition: 0.2s;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
    border: 2px solid var(--yellow);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--sec-yellow);
    border: 2px solid var(--sec-yellow);
}

.spinner {
    border: 4px solid var(--yellow);
    border-top: 4px solid var(--gray);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.8s linear infinite;
    margin: 10px auto;
}

.back-modal button {
    justify-self: end;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.back-modal button:hover {
    background-color: var(--sec-yellow);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}