#root {
    --bar-height: 4rem;
    --mobile-bar-height: 3rem;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-bar {
    height: var(--bar-height);
    width: 100vw;
    background-color: var(--yellow);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-short {
    display: none;
}

.nav-long {
    display: inline;
}

.back-login {
    position: relative;
    height: calc(100vh - var(--bar-height));
    width: 100vw;
    overflow: hidden;
}

.login-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 2rem;

    width: 25rem;
    background: var(--black);
    color: var(--yellow);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

.line {
    margin-top: 1rem;
    height: 1px;
    margin-bottom: 1rem;
    background-color: var(--yellow);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

input {
    padding: 0.8rem 1rem;
    border: 1px solid var(--black);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease;
    width: 20rem;
}

input:focus {
    border-color: var(--yellow);
}

.top-input {
    margin-top: 2rem;
}

.bot-input {
    margin-bottom: 1rem;
}

.login-box button {
    margin: 0.9rem 1rem;
    width: 16rem;
    padding: 0.9rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: var(--sec-yellow);
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    color: var(--yellow);
}

.separator .line {
    flex: 1;
    height: 1px;
    background-color: var(--yellow);
}

/* @media (max-width: 768px) {

    .nav-short {
      display: inline;
    }
    .nav-long {
      display: none;
    }

    .back-login {
      height: 92vh;
    }

    .login-box {
      width: 80vw;
    }

    button {
      margin: 1rem 1.5rem 1rem 1.5rem;
    }
  
} */

@media (max-width: 540px) {
    /* só telemóveis */

    .nav-bar {
        height: var(--mobile-bar-height);
        font-size: 24px;
    }

    .nav-short {
      display: inline;
    }
    .nav-long {
      display: none;
    }

    .back-login {
        height: calc(100dvh - var(--mobile-bar-height));
        overflow: auto;
    }

    .login-box {
        border-radius: 8px;
        padding: 1.6rem;
        width: 80vw;
    }

    h2 {
        font-size: 22px;
    }

    .login-form {
        gap: 0.8rem;
        padding: 0;
    }

    input {
        padding: 0.8rem 0.6rem;
        width: calc(100% - 3rem);
    }

    .top-input {
        margin-top: 1.6rem;
    }

    .bot-input {
        margin-bottom: 0.8rem;
    }

    .login-box button {
        width: calc(100% - 4rem);
        margin: 0.6rem 0rem;
        padding: 0.8rem 0rem;
    }
}

/* @media (min-width: 481px) and (max-width: 768px) { */
  /* tablets pequenos + telemóvel landscape */
/* } */

/* @media (min-width: 540px) and (max-width: 1024px) { */
  /* tablets */

/* } */