.back-modal {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    justify-items: center;
    align-content: center;
    
    
}

.order-form {
    width: 24rem;
    background-color: var(--black);
    border-radius: 8px;
    align-content:center;
    justify-items: center;
    text-align: center;
    overflow-y: auto;
}

.order-form button {

    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.order-form .close-bot {
    justify-self: end;
}

.order-form .submit {
    width: 14rem;
    justify-content: center;
    justify-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    height: 3rem;
}

.order-form button:hover {
    background-color: var(--sec-yellow);
}

.order-form input {
    justify-self: center;
    display: block;
    width: 10rem;
}

.order-form .first-input {
    margin-top: 0;
    justify-self: center;
}

.order-form h3 {
    margin-bottom: 0.5rem;
    justify-self: center;
}

.order-form .notes-box {
    /* width: 18rem; */
    width: 100%;
    height: calc(2.8rem);
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    font-size: 1rem;
    resize:none;
    display: block;
    justify-self: center;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.order-form .notes-box:focus {
    outline: none;
    border-color: var(--yellow);

}

@media (max-width: 800px) {
    .order-form {
        max-width: calc(100% - 1rem);
    }

    .order-form .submit {
        height: 2.6rem;
        
    }

    .order-form .submit, .order-form input, .order-form h3  {
        max-width: calc(100% - 1rem);
    }

    .order-form .notes-box {
        max-width: calc(100% - 2rem);
    }

}