.notification-sidebar {
    position: fixed;
    right: 0.7rem;
    bottom: 1.05rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
    z-index: 900;

    /* max-height: calc((100vh - var(--bar-height) - 2.2rem) / 3); */
    max-height: calc(100% - var(--bar-height) - 1.1rem);
    /* background-color: aquamarine; */
    overflow-y: auto;
    padding-right: 0.35rem; 

}

.notification-list {
    display: flex;
    flex-direction: column;
}

.notification-info {
    background-color: var(--black);
    border-radius: 10px;
    padding: 1rem;
    width: 17.5rem;
    
    border: 1px solid var(--gray);
}

.notification-error {
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 1rem;
    width: 17.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.notification-error .notification-date {
    font-size: 0.8rem;
    color: var(--yellow);
    margin-bottom: 0.3rem;
}

.notification-error .notification-date {
    font-size: 0.8rem;
    color: var(--black);
    margin-bottom: 0.3rem;
}

.notification-message {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

@media (min-width: 481px) and (max-width: 800px) {
    .notification-sidebar {
        right: 0.15rem;
        bottom: 0.5rem;
        
        max-height: calc(100% - var(--mobile-bar-height) - 1.1rem);
    }
}

@media (max-width: 480px) {
    .notification-sidebar {
        right: 0.15rem;
        bottom: 0.5rem;
        
        max-height: calc(100% - var(--mobile-bar-height) - 1.1rem);
        width: calc(100% - 1rem);
        /* background-color: aqua; */
    }
    
    .notification-info {
        width: calc(100% - 2.1rem);
    }

    .notification-error {
        width: calc(100% - 2.1rem);   
    }
}