.back-modal-not {
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 5;
    
}

.back-modal-not .notification-container {
    background-color: var(--black);
    max-height: calc(2 * (100vh - var(--bar-height) - 2.2rem) / 3);
    width: 18.5rem;
    position: absolute;
    right: 1rem;
    top: var(--bar-height);
    border: 2px solid var(--gray);
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    overflow: auto;
    justify-items: center;
}

.notification-container .button-box {
    /* background-color: aqua; */
    height: 1.6rem;
    width: calc(100%);
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.button-box button {
    
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 0 1rem 0 1rem;
}

.button-box .selected {
    color: var(--black);
    background-color: var(--yellow);
}

.button-box .non-selected {
    background-color: var(--gray);
    
}

.button-box button:hover {
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
}

.notification-container .notif-box {
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    width: calc(100% - 1.2rem);
    border: 1px solid var(--gray);
    border-radius: 8px;
    
    margin-bottom: 0.5rem;
    
    
}

.notification-container .new-notif-box {
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    width: calc(100% - 1.2rem);
    border: 1px solid var(--yellow);
    border-radius: 8px;
    margin-bottom: 0.25rem;

    word-wrap: break-word;
}

.notification-container h2 {
    /* margin: 0; */
    font-size: 1rem;
    font-weight: normal;
    margin: 0.5rem 0rem 0.5rem 0rem;
    /* text-align: justify; */
    white-space: pre-line;
}

.notification-container .notif-not-found {
    padding-bottom: 0.5rem;
}

.notification-container h4 {
    margin: 0;
    font-size: 0.9rem;
    /* font-weight: normal; */
    color: var(--yellow);
    text-align: center;
}

.notification-container .notif-link {
    cursor: pointer; 
    text-decoration: underline;
    color: var(--blue);
}

.notification-container .notif-link:hover {
    color: var(--sec-blue);
}

.notification-container .line {
    background-color: var(--yellow);
    height: 1px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}