.order-container {
    /* margin-top: 1rem;
    margin-left: 1rem; */
    /* padding: 0.5rem 2rem 1rem 2rem; */
    /* width: 18rem; */
    background-color: var(--black);
    border-radius: 10px;
    /* display:contents; */
    word-wrap:break-word;
    /* min-width: 10rem; */
    display: flex;
    flex-direction: column;
    
}



.order-body h4 {
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
}

.order-container .order-body {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

.order-body b {
    color: var(--yellow);
}

.order-container .hour {
    text-align: center;
    height: 2.2rem;
    font-size: 1.1rem;
    align-content: center;
    border-radius: 10px 10px 0 0;
    color: var(--black);
    background-color: var(--yellow);
    margin: 0;
    margin-bottom: 0.2rem;
}

.order-body .title1 {
    text-align: center;
    margin-bottom: 0.8rem;
    /* font-size: 1; */
}

.order-container .client {
    padding: 1rem 2rem 1.2rem 2rem;
    margin: 0;
    margin-top: auto;
    font-size: 1.1rem;
    max-width: 15rem;
    /* text-align: center; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-container .client b {
    color: var(--yellow);
}


.order-container .info {
    
    /* height: 60%; */
    /* padding-top: 0.4rem; */
    /* padding-bottom: 0%; */
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    padding: 0.5rem;
    /* width: 80%; */
    /* width: calc(100% - 4rem); */
    border: 2px solid var(--black);

}

.order-container .info-acceptance {
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 0px 0px 0px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    padding: 0.5rem;
    background-color: var(--blue);
    border: 2px solid var(--black);
}

.order-container .info:hover {
    background-color: var(--sec-yellow);
}



.order-container .op-acceptance {
    display: flex;
    justify-content: space-between;
    margin-top: 0rem;
    
}

.order-container .info-acceptance:hover {
    background-color: var(--sec-blue);
}

.op-acceptance .recuse, .op-acceptance .accept {
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 0px 0px 0px;
    /* background-color: var(--yellow); */
    color: var(--black);
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    padding: 0.5rem;
    width: calc(50%);
    border: 2px solid var(--black);
}

.op-acceptance .recuse {
    border-radius: 0 0 0 10px;
    /* background-color: #DB2B39; */
    background-color: var(--gray);
    color: var(--white);
}

.op-acceptance .recuse:hover {

    background-color: var(--sec-gray);

}

.op-acceptance .accept {
    border-radius: 0 0 10px 0px;
    background-color: var(--yellow); /*#04A777*/
}

.op-acceptance .accept:hover {
    background-color: var(--sec-yellow); /*#04A777*/
}

.recuse-order-form {
    width: 28rem;
    padding-bottom: 1.5rem;
    background-color: var(--black);
    border-radius: 8px;
    justify-items: center;
    text-align: center;
}

.recuse-order-form .body-recuse {
    
    padding: 0 2rem 0 2rem;
}

.recuse-order-form .notes-box {
    margin-top: 1.5rem;
    width: calc(100% - 4rem);
    height: calc(2.8rem);
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    font-size: 1rem;
    resize:none;
    display: block;
    justify-self: center;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.recuse-order-form .notes-box:focus {
    outline: none;
    border-color: var(--yellow);
    /* box-shadow: 0 0 4px var(--yellow); */
}

.recuse-order-form .submit {
    width: 8rem;
    justify-content: center;
    justify-self: center;
    margin-top: 1.5rem;
    height: 2.4rem;
}