.show-product {
    height: 21rem;
    width: 20rem;

    background-color: var(--black);

    border-radius: 10px;
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.show-product .discount {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    font-size: 1.1rem;
    font-weight: bold;

    background-color: var(--yellow);
    color: var(--black);

    height: 2.5rem;
    width: 3.5rem;
    border-radius: 0px 10px 0 10px;
    z-index: 1;
    position: relative;
}

.product-info {
    transform: translateY(-1.4rem);
    width: 100%;
    height: calc(100% - 1.1rem);
    justify-items: center;

}

.product-info-small {
    transform: translateY(1.6rem);
    width: 100%;
    height: calc(100% - 1.9rem);
    justify-items: center;

}

.product-info h3, .product-info-small h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;

    text-align: center; 
}

.product-info img, .product-info-small img {
    max-width: 80%;
    height: 45%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;
    display: flex;
}

.product-info .bots, .product-info-small .bots {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.prices {
    width: 5rem;
}

.prices h4, .prices h3 {
    margin: 0;
}

.prices h3 {
    font-size: 1.5rem;
    text-align: left;
}

.prices h4 {
    color: var(--yellow);
    font-weight: normal;
}

.prices .no-discount {
    margin-top: 1rem;
}

.product-info button, .product-info-small button {

    padding-bottom: 0%;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    padding: 0.5rem;
    height: 2.4rem;
}

button:hover {
    background-color: var(--sec-yellow);
}

.bots .info1, .bots .info2 {
    background-color: var(--blue);

}

.bots .info1:hover, .bots .info2:hover {
    background-color: var(--sec-blue);
}

.product-info .buy1, .product-info-small .buy1 {
    margin-top: 0.5rem;
    width: 80%;
    
    justify-content: center;
}

.product-info .buy2, .product-info-small .buy2 {
    margin-top: 0.5rem;
    width: 80%;
    
    justify-content: center;
}

.bots .info2 {
    display: none;
}

.product-info .buy2, .product-info-small .buy2 {
    display: none;
}

@media (max-width: 800px) {
    .show-product {
        height: 15.5rem;
        width: 10rem;

        background-color: var(--black);

        border-radius: 10px;
        
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        overflow: hidden;
    }

    .bots .info1 {
        display: none;
    }

    .bots .info2 {
        display: flex;
        padding: 0.6rem;
        height: 2.2rem;
    }

    .product-info .buy1, .product-info-small .buy1 {
        display: none;
    }

    .product-info .buy2, .product-info-small .buy2 {
        display: flex;
        height: 2rem;
    }

    .product-info h3, .product-info-small h3 {
        /* margin-top: 0.5rem;
        margin-bottom: 0.8rem; */
        font-size: 16px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;

        text-align: center; 
    }

    .product-info img, .product-info-small img {
        max-width: calc(100% - 2rem);
        height: 42%;
        object-fit: cover;     
        object-position: center;
        border-radius: 8px;
        display: flex;
    }

    .prices h4 {
        font-size: 14px;
    }
}