.product button {
    justify-self: end;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.rating button {
    font-size: 1rem;
    margin-left: rem;
}

.product button:hover {
    background-color: var(--sec-yellow);
}

.product {
    max-height: calc(100% - 2rem);
    width: 30rem;
    background-color: var(--black);
    border-radius: 8px;
    overflow: auto;
}

.product .container {
    max-height: 100%;

    overflow: hidden;

    flex: 1;
    
}

.container .name {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    color: var(--yellow);
}

.product .firstLine {

    width: 90%;
    height: 40%;
    justify-self: center;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.firstLine img {
    max-width: 40%;
    max-height: 100%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;

}

.product h3 {
    margin: 0;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    font-size: 1.4rem;
    color: var(--white);

}

.product .no-discount {

    font-size: 1rem;
    font-weight: normal;
}

.product .lastLine {
    margin-top: 0.6rem;
    padding-bottom: 1rem;
    width: 90%;
    
    justify-self: center;
}

.container h4 {

    margin-bottom: 0.4rem;

    font-size: 1.1rem;
    color: var(--yellow);
}

.lastLine h4 {
    margin: 0rem;
    margin-bottom: 0.4rem;

    color: var(--white);
    font-size: 1.1rem;

    display: flex;
    align-items: center;
}

.lastLine b {
    color: var(--yellow)
}

.lastLine .description {
    max-height: 3.2rem;
    overflow-y: auto;
}

.lastLine .rating {
    justify-content:space-between;
}

.rating .stars {
    color: var(--yellow);
}

.comments {
    padding-top: 1rem;
}

.comments .comments-container {
    max-height: 6.5rem;
    overflow-y: auto;
    width: calc(100% - 2rem);
    justify-self: center;
    border: 2px solid var(--gray);
    border-radius: 8px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.4rem;
}

.comments-container .inline1 {
    display: flex;
    justify-content: space-between;
}

.inline1 button {
    height: 1.5rem;
    width: 1.5rem;
}

.comments-container h5 {
    color: var(--yellow);
    margin: 0;
    margin-top: 0.6rem;
}

.lastLine .rating2 {
    display: none;
}

@media (max-width: 800px) {
    .product {
        max-width: calc(100% - 1rem);
        /* width:max-content; */
        width: 28rem;
    }

    .product .firstLine {

        width: 90%;
        height: 40%;
        justify-self: center;
        display:block;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .container .name {
        margin-bottom: 0.8rem;
        font-size: 22px;
        
        /* color: var(--yellow); */
    }

    .firstLine img {
        max-width: 8rem;
        max-height: 100%;
        object-fit: cover;     
        object-position: center;
        border-radius: 8px;

    }

    .lastLine .rating {
        display: none;
    }

    .lastLine .rating2 {
        display: flex;
    }

    .rating2 button {
        margin-top: 0.2rem;
        font-size: 15px;
    }

    .container h4 {
        margin-top: 0;
        margin-bottom: 0;
    }
}