:root {
    --search-bar-height: 4rem;
}

.space-search-bar {
    width: 100%;
    height: var(--search-bar-height);
    justify-content: center;
    align-items: center;
    display: flex;
}

.space-search-bar-category {
    width: calc(100% - 2rem);
    justify-self: center;
    height: var(--search-bar-height);
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: var(--black);
}

.space-search-bar-category .go-back {
    display: flex;
    /* gap: 2rem; */
    background-color: var(--yellow);
    /* padding: 1.4rem 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    height: 2.4rem;
    font-weight: bold;
}

.go-back svg {
    font-size: 1rem;
}

.space-search-bar-category .go-back:hover {
    background-color: var(--sec-yellow);
    cursor: pointer;

}

.search-box {
    height: 2.5rem;
    background-color: var(--black);
    width: 24rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 0.2rem;
    border-radius: 22px;
}

.search-text {
    margin-left: 1rem;
    padding: 0.3rem 0 0.3rem 0;
    height: 1rem;
    border-radius: 0px;
    width: 18rem;
    background-color: var(--black);
}

.search-text:focus {
    border-color: var(--black);
}

.search-box button {
    
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: center;
    padding: 0.6rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 50%;
    
    /* height: calc(var(--bar-height) - 1rem); */
    background-color: var(--yellow);
    color: var(--black);
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* display: flex;
    justify-content: space-between;  Utilizar noutros botoes*/ 
}

.product-container {
    height: calc(100% - var(--search-bar-height) - 1rem);
    width: calc(100% - 2rem);
    /* background-color: aqua; */
    overflow-y: auto;
    justify-self: center;
    /* align-self: center; */
    gap: 0.6rem;
    
    /* border-radius: 0px 0px 10px 10px; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    display:flex;
}
    
    
    