:root {
    --search-bar-height: 4rem;
    --search-bar-height-mobile: 3.2rem;
}

.space-search-bar {
    width: 100%;
    height: var(--search-bar-height);
    justify-content: center;
    align-items: center;
    display: flex;
}

.space-search-bar-category {
    width: calc(100% - 2rem);
    justify-self: center;
    height: var(--search-bar-height);
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: var(--black);
}

.space-search-bar-category .go-back {
    display: flex;
    /* gap: 2rem; */
    background-color: var(--yellow);
    /* padding: 1.4rem 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    height: 2.4rem;
    font-weight: bold;
}

.go-back svg {
    font-size: 1rem;
}

.space-search-bar-category .go-back:hover {
    background-color: var(--sec-yellow);
    cursor: pointer;

}

.space-search-bar-category .search-box {
    height: 2.5rem;
    background-color: var(--black);
    width: 12rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 0.2rem;
    border-radius: 8px;
}

.space-search-bar .search-box {
    height: 2.5rem;
    background-color: var(--black);
    width: 14rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 0.2rem;
    border-radius: 18px;
}

.search-text {
    margin-left: 1rem;
    padding: 0.3rem 0 0.3rem 0;
    height: 1rem;
    border-radius: 0px;
    width: 10rem;
    background-color: var(--black);
}

.search-text:focus {
    border-color: var(--black);
}

.search-box button {
    
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: center;
    padding: 0.6rem;
    margin-right: 0.15rem;
    border: none;
    border-radius: 50%;
    
    /* height: calc(var(--bar-height) - 1rem); */
    background-color: var(--yellow);
    color: var(--black);
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

}

.product-container {
    height: calc(100% - var(--search-bar-height) - 1rem);
    width: calc(100% - 2rem);

    overflow-y: auto;
    justify-self: center;
    text-align: center;
    gap: 0.6rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    display:flex;
}
    
    
@media (max-width: 800px) {
    .space-search-bar-category {
        width: calc(100% - 1rem);
        height: var(--search-bar-height-mobile);
    }

    .space-search-bar-category .go-back {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 2.2rem;
        
    }

    .space-search-bar {
        width: 100%;
        height: var(--search-bar-height-mobile);
        justify-content: center;
        align-items: center;
        display: flex;
        /* background-color: aqua; */
    }

    .go-back span {
        max-width: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .space-search-bar-category .search-box {
        height: 2.2rem;
        max-width: calc(100% - 2rem - 7rem);
    }

    .search-text {
        margin-left: 0.6rem;
        padding: 0.3rem 0 0.3rem 0;
        width: calc(100% - 1.2rem);
    }

    .product-container {
        height: calc(100% - var(--search-bar-height-mobile) - 0.5rem);
        width: calc(100% - 1rem);
        gap: 0.5rem;
    }

    .space-search-bar .search-box {
        height: 2.2rem;
        max-width: calc(100% - 1rem);
    }
}