:root {
    --recipe-side-bar: 13rem;
    --recipe-side-bar-mobile: 15rem;
}

.show-recipe {

    width: 100%;
    height: 100%;
    display: flex;
}

.show-recipe .side-bar-recipes {

    height: calc(100% - 1.5rem);
    width: var(--recipe-side-bar);
    padding: 0.5rem;
    overflow: auto;
}

.show-recipe .back-side-bar-mobile {

    display: none;
}

.show-recipe .body-recipes {

    height: 100%;
    width: calc(100% - var(--recipe-side-bar) - 1rem);
    display: flex;
    align-items: center;

}

.side-bar-recipes button, .side-bar-recipes-mobile button {
    width: calc(100%);
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: center;
    padding: 0.6rem;
    margin-bottom: 0.25rem;
    border: none;
    border-radius: 8px;
    justify-content: space-between;

    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

}

.side-bar-recipes .act-recipe-info, .side-bar-recipes-mobile .act-recipe-info {
    width: 100%;
}

.act-recipe-info h3, .act-recipe-info h4 {
    margin: 0;
    max-width: calc(100% - 0.5rem);
    /* background-color: aqua; */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

.act-recipe-info h4 {
    margin-top: 0.5rem;
    /* color: var(--yellow); */
    font-weight: bold;
    font-size: 0.8rem;
}

.side-bar-recipes .selected, .side-bar-recipes-mobile .selected {
    background-color: var(--yellow);
    color: var(--black);
}

.side-bar-recipes .no-selected, .side-bar-recipes-mobile .no-selected {
    background-color: var(--black);
}

.side-bar-recipes .no-selected:hover, .side-bar-recipes-mobile .no-selected:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.side-bar-recipes .text, .side-bar-recipes-mobile .text {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85%;
    font-weight: normal;
}

.side-bar-recipes .search-recipe, .side-bar-recipes-mobile .search-recipe {
    width: 100%;
    height: 2.4rem;
    /* padding: 0 0.2rem 0 0.2rem; */
    background-color: var(--black);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.search-recipe input {
    padding: 0rem 0.2rem 0.2rem 0.8rem;
    height: 2rem;
    width: calc(100%);
    margin: 0;
    font-size: 1rem;
    background-color: var(--black);
    border-radius: 8px;
    border: none;
}

.search-recipe input:focus {
    border: none;
}

.body-recipes .recipe-details {
    width: calc(100% - 2.5rem);
    height: calc(100% - 2rem);
    background-color: var(--black);
    padding: 0.5rem 1rem 0.5rem 1rem;
    
    border-radius: 8px;
}

.recipe-details .inline {

    height: calc(50% - 3.9rem);
    display: flex;
    gap: 0.8rem;
}

.inline .image {

    border: 2px solid var(--gray);
    height: 100%;
    width: calc(35% - 0.4rem - 4px);
    justify-items: center;
    align-content: center;
    border-radius: 8px;
}

.inline img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;
    display: flex;
}

.recipe-details h3 {
    margin: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    font-weight: normal;
    overflow: hidden;
}

.recipe-details .inline-header {
    display: flex;
    justify-content: space-between;
    padding-right: 2px;
    padding-left: 2px;
    align-items: center;
    margin-bottom: 0.5rem;
}

.inline-header button {
    background-color: var(--yellow);
    color: var(--black);
    margin: 0;
    height: 2.4rem;
    width: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

.inline-header .cancel {
    background-color: var(--gray);
    color: var(--white);
}

.inline-header .cancel:hover {
    background-color: var(--sec-gray);
    color: var(--white);
}

.inline-header button:hover {
    background-color: var(--sec-yellow);
}

.inline-header .button-box-recipe {
    display: flex;
    gap: 0.8rem;
}

.button-box-recipe button {
    width: 8rem;
}

.recipe-details .title-recipe {
    color: var(--yellow);
    overflow: hidden;
    max-width: calc(100% - 10rem);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe-details .title-recipe-short {
    color: var(--yellow);
    overflow: hidden;
    width: calc(100% - 18rem);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe-details .title-ingred {
    color: var(--yellow);
    font-size: 1.4rem;
    padding: 0.2rem 1rem 0 1rem;
}

.inline .ingredients {
    border: 2px solid var(--gray);

    height: 100%;
    width: calc(65% - 0.4rem - 4px);
    border-radius: 8px;
}

.ingredients li {
    font-size: 1.2rem;
}

.ingredients b {
    color: var(--white);
}

.ingredients ul, .ingredients .ingredient-list {
    margin: 0;

    max-height: calc(100% - 3.4rem);

    overflow: auto;
}

.recipe-details .preparation {
    margin-top: 1rem;
    border: 2px solid var(--gray);
    border-radius: 8px;
    height: calc(50% - 1rem);
    width: calc(100% - 4px);
}

.recipe-details .prep-short {
    margin-top: 1rem;
    border: 2px solid var(--gray);
    border-radius: 8px;
    height: calc(50% - 1rem - 1.2rem);
    width: calc(100% - 4px);
    
}

.preparation .prep-text, .prep-short .prep-text {
    margin: 0;
    padding: 0rem 1rem 0 1rem;
    font-size: 1.2rem;
    text-align: justify;
    /* font-weight: bold; */
    white-space: pre-wrap;
    max-height: calc(100% - 3.4rem);

    overflow: auto;
}

.recipe-details h4 {
    margin: 0;
    margin-top: 0.5rem;
    text-align: right;
    color: var(--yellow);
    font-weight: normal;
    max-width: 100%;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.ingredients label {
    margin: 0 1rem 0 1rem;
    font-size: 1.2rem;
    
}

.ingredients input {
    /* margin: 0; */
    width: auto;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem !important;

}

.checkbox input {
    position: absolute;
    opacity: 0;
    /* height: 0; */
    /* width: 0; */
}

.checkmark {
    width: 1.4rem;
    height: 1.4rem;
    background: var(--gray);
    border: 2px solid var(--gray);
    border-radius: 6px;
    text-align: center;
    /* align-content: start; */
    display: block;
    /* padding-top: 0.1rem; */
}

.checkbox input:checked + .checkmark {
    background: var(--yellow);
    border-color: var(--gray);
    color: var(--black);
}

.checkbox .ingredient-line {
    width: calc(100% - 2.4rem);
}


/*RecipeHistory*/
.recipeinfo-container {
    background-color: var(--black);
    border-radius: 8px;
    padding: 1rem 1rem 1rem 1rem;
    width: 20rem;
    max-width: calc(100% - 2rem);
    /* justify-items: center; */
}

.recipeinfo-container b {
    color: var(--yellow);
}

.recipeinfo-container .inline {
    display: flex;
    justify-content: space-evenly;
}

.recipeinfo-container h3 {
    margin: 0;
    margin-bottom: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--yellow);
}

.recipeinfo-container h4 {
    margin: 0;
    margin-top: 0.5rem;
    text-align: center;
}

.recipeinfo-container .username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipeinfo-container button {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0 1.5rem 0 1.5rem;
    height: 1.6rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.recipeinfo-container button:hover {
    background-color: var(--sec-yellow);
}

.main-recipes {
    display: none !important;
}

.title-recipe2 {
    display: none;
}

.title-recipe-short2 {
    display: none;
}

@media (max-width: 800px) {
    .show-recipe .side-bar-recipes {

        display: none;
    }
    
    .show-recipe .back-side-bar-mobile {
        position: absolute;
        top: var(--mobile-bar-height);
        width: calc(100% - 1rem);
        height: calc(100% - var(--mobile-bar-height) - 0.5rem);
        display: initial;
        background-color: rgb(0, 0, 0, 0.7);
        border-radius: 8px;
        z-index: 4;
    }

    .show-recipe .side-bar-recipes-mobile {
        /* display: initial; */
        /* position: absolute;
        top: calc(var(--mobile-bar-height)); */
        height: calc(100% - 1rem);
        width: var(--recipe-side-bar-mobile);
        max-width: calc(100% - 1rem);
        padding: 0.5rem;
        overflow: auto;
        background-color: var(--gray);
        border-radius: 8px 0px 0px 8px;
    }

    .show-recipe .body-recipes {

        height: 100%;
        width: calc(100% - 0.5rem);
        margin-left: 0.5rem;
        /* margin-right: 0rem; */
        display: flex;
        align-items: center;

    }

    .main-recipes {
        display: flex !important;
        padding: 0.6rem 0.5rem 0.6rem 0.5rem;
        background-color: var(--yellow);
        border: none;
        font-size: 18px;
        border-radius: 8px;
        color: var(--black);
        display: flex;
        font-weight: bold;
        width: fit-content !important;
        margin: 0 !important;
        max-height: 2.2rem;
    }

    .body-recipes .recipe-details {
        width: calc(100% - 2.1rem);
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    }

    .recipe-details .inline {

        height: calc(50% - 3.2rem);
        display: flex;
        gap: 0.8rem;
    }

    .recipe-details h3 {
        margin: 0;
        margin-top: 0.2rem;
        margin-bottom: 0.3rem;
        font-size: 20px;
    }

    .inline-header button {
        margin: 0;
        height: 2rem;
        width: 5rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 8px;
    }

    .recipe-details .title-ingred {
        /* color: var(--yellow); */
        font-size: 20px;
    }

    .ingredients li {
        font-size: 18px;
    }

    .recipe-details .title-recipe {
        max-width: calc(100% - 9rem);
    }

    .recipe-details .title-recipe-short {
        width: calc(100% - 18rem);
    }


    .recipe-details .title-recipe-short2 {
        display: initial;
        color: var(--yellow);
        overflow: hidden;
        max-width: calc(100% - 14rem);
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .inline-header .title-recipe-short {
        display: none;
    }
}

@media (max-width: 480px) {
    .title-recipe {
        display: none;
    }
    
    .recipe-details h3 {
        margin: 0;
        margin-top: 0.2rem;
        margin-bottom: 0.3rem;
        font-size: 16px;
    }

    .recipe-details .title-recipe2 {
        display: initial;
        color: var(--yellow);
        overflow: hidden;
        max-width: calc(100% - 9rem);
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    

    .inline .image {
        display: none;
    }

    .inline .ingredients {
        border: 2px solid var(--gray);

        height: 100%;
        width: 100%;
        border-radius: 8px;
    }


}