:root {
    --recipe-side-bar: 13rem;
}

.show-recipe {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
}

.show-recipe .side-bar-recipes {
    /* background-color: aqua; */
    height: calc(100% - 1.5rem);
    width: var(--recipe-side-bar);
    padding: 0.5rem;
    overflow: auto;
}

.show-recipe .body-recipes {
    /* background-color: rgb(17, 22, 164); */
    height: 100%;
    width: calc(100% - var(--recipe-side-bar) - 1rem);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.side-bar-recipes button {
    width: calc(100%);
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: center;
    padding: 0.6rem;
    margin-bottom: 0.25rem;
    border: none;
    border-radius: 8px;
    justify-content: space-between;
    /* height: calc(var(--bar-height) - 1rem); */
    /* background-color: var(--black); */
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* display: flex;
    justify-content: space-between;  Utilizar noutros botoes*/ 
}

.side-bar-recipes .selected {
    background-color: var(--yellow);
    color: var(--black);
}

.side-bar-recipes .no-selected {
    background-color: var(--black);
}

.side-bar-recipes .no-selected:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.side-bar-recipes .text {
    /* font-size: 1.1rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85%;
    font-weight: normal;
}

.side-bar-recipes .search-recipe {
    width: calc(100% - 0.4rem);
    height: 2.4rem;
    padding: 0 0.2rem 0 0.2rem;
    background-color: var(--black);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.search-recipe input {
    padding: 0rem 0.2rem 0.2rem 0.8rem;
    height: 1.8rem;
    width: calc(100% - 3.6rem);
    /* padding-top: 0.5; */
    margin: 0;
    font-size: 1rem;
    background-color: var(--black);
    border-radius: 50px;
    /* background-color: aqua; */
}

.search-recipe button {
    background-color: var(--yellow);
    color: var(--black);
    margin: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-recipe button:hover {
    background-color: var(--sec-yellow);
}

.body-recipes .recipe-details {
    width: calc(100% - 2.5rem);
    height: calc(100% - 2rem);
    background-color: var(--black);
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* justify-self: center; */
    
    border-radius: 8px;
}

.recipe-details .inline {
    /* background-color: aquamarine; */
    height: calc(50% - 3.9rem); /*total: 100% - 4.2rem*/
    display: flex;
    gap: 0.8rem;
}

.inline .image {
    /* background-color: var(--white); */
    border: 2px solid var(--gray);
    height: 100%;
    width: calc(35% - 0.4rem - 4px);
    justify-items: center;
    align-content: center;
    border-radius: 8px;
}

.inline img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;
    display: flex;
}

.recipe-details h3 {
    margin: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
}

.recipe-details .inline-header {
    display: flex;
    justify-content: space-between;
    padding-right: 2px;
    padding-left: 2px;
    align-items: center;
    margin-bottom: 0.5rem;
}

.inline-header button {
    background-color: var(--yellow);
    color: var(--black);
    margin: 0;
    height: 2.4rem;
    width: 9rem;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

.inline-header button:hover {
    background-color: var(--sec-yellow);
}

.recipe-details .title-recipe {
    color: var(--yellow);
    overflow: hidden;
    max-width: calc(100% - 12rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-details .title-ingred {
    color: var(--yellow);
    font-size: 1.4rem;
    padding: 0.2rem 1rem 0 1rem;
}

.inline .ingredients {
    border: 2px solid var(--gray);
    /* background-color: blue; */
    height: 100%;
    width: calc(65% - 0.4rem - 4px);
    border-radius: 8px;
}

.ingredients li {
    font-size: 1.2rem;
}

.ingredients b {
    color: var(--white);
}

.ingredients ul {
    margin: 0;
    /* background-color: aliceblue; */
    max-height: calc(100% - 3.4rem);
    /* height: calc(2rem); */
    overflow: auto;
}

.recipe-details .preparation {
    margin-top: 1rem;
    border: 2px solid var(--gray);
    border-radius: 8px;
    height: calc(50% - 1rem);
    width: calc(100% - 4px);
}

.preparation .prep-text {
    margin: 0;
    padding: 0rem 1rem 0 1rem;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: bold;
    /* background-color: aliceblue; */
    max-height: calc(100% - 3.4rem);
    /* width: 100%; */
    /* height: calc(2rem); */
    overflow: auto;
}

