.progress-container {
    width: 80%;
    height: 1.8rem;
    background-color: var(--gray);
    border-radius: 8px;
    overflow: hidden;
    justify-self: center;
}

.progress-bar {
    height: 100%;
    background-color: var(--yellow);
    transition: width 0.3s ease;
}

.progress-text {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    width: 100%;
    
}

.show-verify-stock .dose {
    text-align: center;
    min-width: 7rem;
    width: 8rem;
    /* background-color: brown; */
}

.show-verify-stock .dose-recipe-verify {
    width: 18rem;
    min-width: 14rem;
    text-align: center;
}

.dose-recipe-verify span {
    display: inline-block;
    background-color: var(--gray);
    padding: 0.3rem 0.6rem 0.05rem 0.6rem;
    margin: 0 0.5rem 0rem 0.5rem;
    border-radius: 8px;
}

.show-verify-stock .recipe-name {
    width: 20rem;
    max-width: 20rem;
    text-align: left;
    padding-left: 1rem;
    /* background-color:blue; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}