.order-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.space-search-order-bar {
    width: auto;
    height: calc(var(--search-bar-height));
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

.search-order-box {
    height: 2.5rem;
    background-color: var(--black);
    width: 9.5rem;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.2rem;
    border-radius: 22px;
}

.search-order-box-ready {
    height: 2.5rem;
    background-color: var(--black);
    width: 27.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 22px;
}

.search-order-text {

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: 1rem;
    border-radius: 0px;
    width: 8rem;
    background-color: var(--black);
    border-radius: 20px;
    border: 2px solid var(--gray);
}

.search-order-name {

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: 1rem;
    border-radius: 0px;
    width: 16rem;
    background-color: var(--black);
    border-radius: 20px;
    border: 2px solid var(--gray);
}

.space-search-order-bar button {
    
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: center;
    padding: 0.5rem;

    border: none;
    border-radius: 50%;

    background-color: var(--yellow);
    color: var(--black);
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

}

.space-search-order-bar button:hover {
    background-color: var(--sec-yellow);
}

.orders-container {
    height: calc(100% - var(--bar-height) - 0.5rem);
    width: calc(100% - 2rem);

    overflow-y: auto;
    justify-self: center;
    
}

.orders-container h3 {
    text-align: center;
}

.orders-container .orders-group {

    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;

}

.orders-container h2 {
    font-size: 1.2rem;
    color: var(--white);

    margin-bottom: 0.3rem;

}


/* FollowMyOrders */
.all-orders-container {
    margin-top: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    overflow-y: auto;
    justify-self: center;
    
}

.all-orders-container .orders-group {

    display: flex;
    gap: 1rem;
    /* margin-bottom: 0.8rem; */
    flex-wrap: wrap;
    align-content: flex-start;

}

.all-orders-container .day {
    font-size: 1.2rem;
    color: var(--white);
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
}