.show-bakery {
    height: 18rem;
    width: 20rem;
    
    background-color: var(--black);
    justify-items: center;
    
    align-content:center;

    border-radius: 10px;
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.show-bakery h3 {
    
    font-size: 1.3rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;

    text-align: center; 
}

.show-bakery img {
    max-width: 100%;
    height: 50%;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px;
    display: flex;
}

.show-bakery .bots {
    display: flex;
    width: calc(100% - 2rem);

    justify-content: space-between;
}

.show-bakery button {

    padding-bottom: 0%;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

button:hover {
    background-color: var(--sec-yellow);
}

.bots .info {
    background-color: var(--blue);
}

.bots .info:hover {
    background-color: var(--sec-blue);
}