.show-setting {
    /* background-color: aqua; */
    width: calc(100% - 4rem);
    height: calc(100% - 3rem);
    margin-top: 1.5rem;
    justify-self: center;
}

.show-setting .header {
    padding: 0 1rem 0 1rem;
    width: calc(100% - 2rem);
    height:3.4rem;
    margin-bottom: 0.6rem;
    background-color: var(--black);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button {
    cursor: pointer;
    background-color: var(--yellow);
    border: none;
    /* padding: 0.3rem 1rem 0.1rem 1rem; */
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header button:hover {
    background-color: var(--sec-yellow);
}

.header h2 {
    font-size: 1.4rem;
    /* background-color: aqua; */
    padding-bottom: 0.2rem;
    width: calc(100% - 3rem);
}

.show-setting table {
    width: 100%;
    table-layout: fixed; 
    font-size: 1.1rem;
    border-collapse: separate;
    border-spacing: 0 0.3rem;
}

.show-setting thead {

    height: 3rem;
    
    background-color: var(--yellow);
    color: var(--black);

}

.table-body-settings {
    height: calc(100% - 3.6rem - 4rem);
    overflow-y: auto;
    /* background-color:brown; */
}

.show-setting td {
    background-color: var(--black);
    height: 2.5rem;
}


.show-setting .button-container {
    width: 4rem;
    /* min-width: 14rem; */
    text-align: center;
    /* background-color: blue; */
}

.show-setting .role-container {
    width: 5rem;
    /* min-width: 14rem; */
    text-align: center;
    /* background-color: blue; */
}

.show-setting .name {
    width: 10rem;
    text-align: left;
    padding-left: 1rem;
    /* background-color: aqua; */
    /* max-width: 10rem; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container button {
    cursor: pointer;
    border: none;
    padding: 0.3rem 1rem 0.1rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: var(--black);
}

.button-container .edit {
    background-color: var(--yellow);
}

.button-container .edit:hover {
    background-color: var(--sec-yellow);
}

.button-container .remove, .ingredient-box .remove {
    background-color: var(--red);
}

.button-container .remove:hover, .ingredient-box .remove:hover {
    background-color: var(--sec-red);
}

/* form */
.back-modal .settings-form {
    width: 28rem;
    max-height: calc(100vh - 4rem);
    /* height: 20rem; */
    padding-bottom: 2rem;
    background-color: var(--black);
    border-radius: 8px;
    overflow: auto;
}

.settings-form .first {
    margin: 0.2rem 0 0.4rem 0;
}

.settings-form h4 {
    margin: 0.6rem 0 0.4rem 0;
    /* background-color: aqua; */
    width: calc(100% - 4rem);
    justify-self: center;
    font-size: 1.2rem;
}

.settings-form input:not([type="file"], [type="checkbox"]) {
    border: 2px solid var(--gray);
    border-radius: 8px;
    padding: 0.4rem 1rem 0.5rem 1rem;
    margin: 0;
    font-size: 1.1rem;
    background-color: var(--gray);
    width: calc(100% - 2rem - 4rem);
    display: flex;
    justify-self: center;
}

.settings-form input:focus {
    border: 2px solid var(--gray);
}

.settings-form .file-input {
    border: 2px solid var(--gray);
    border-radius: 8px;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    margin: 0;
    font-size: 1.1rem;
    background-color: var(--gray);
    width: calc(100% - 2rem - 3.4rem);
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 1rem;
}

.upload-btn {
    display: flex;
    padding: 0.3rem 0rem;
    background-color: var(--yellow);
    color: #232323;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    justify-self: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    /* max-width: 9rem; */
}

.upload-btn:hover {
    background-color: var(--sec-yellow);
}

.settings-form .notes-box {
    width: calc(100% - 2rem - 4rem);
    height: calc(3rem);
    padding: 0.2rem 1rem 0.6rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    font-size: 1.1rem;
    resize:none;
    display: block;
    justify-self: center;
    font-family: 'Segoe UI';
    /* font-weight: bold; */
}

.settings-form .notes-box:focus {
    outline: none;
}

.settings-form .submit {
    justify-self: center;
    margin-top: 1.4rem;
    width: calc(100% - 8rem);
    justify-content: center;
    padding: 0.6rem 0 0.6rem 0;
}

.settings-form img {
    /* margin-top: 0.5rem; */
    max-width: 100%;
    max-height: 4rem;
    justify-self: center;
    display: flex;
    /* margin-bottom: 1rem; */
    align-self: center;
    /* background-color:aqua; */
    border-radius: 8px;
}

.settings-form .inline-normal {
    display: flex;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.5rem;
}

.settings-form .inline-op {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    /* height: 4rem; */
    /* margin-bottom: 0.5rem; */
}

.settings-form .inline-title-button {
    display: flex;
    padding: 0 2rem 0 2rem;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.inline-title-button button {
    border-radius: 50%;
}

.inline-title-button h4 {
    margin-top: 0.2rem;
}

.settings-form .image-div {
    /* background-color: blue; */
    width: calc(50% - 0.8rem);
    height: calc(100%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    /* justify-content: space-between; */
    text-align: center;
    
}

.image-div span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.settings-form .right-setting, .settings-form .left-setting  {
    width: calc(50% - 0.8rem);
    justify-items: left;
}

.left-setting input, .right-setting input {
    width: calc(100% - 2rem) !important;
}

.right-setting .switch {
    margin-bottom: 0.4rem;
    margin-top: 0.45rem;
    justify-self: center;
    /* display: flex; */
    margin-left: calc(100% - 52px);
}

.left-setting h4 {
    width: 100%;
    text-align: left;
}

.right-setting h4 {
    width: 100%;
    text-align: right;
}

.settings-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    justify-self: center;
    width: calc(100% - 4rem);
    border-radius: 8px;
    /* height: ; */
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    border: 2px solid var(--gray);
}

.settings-form select:focus {
    border: 2px solid var(--gray);
    outline: none; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #555;
  border-radius: 34px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: var(--yellow);
}

.switch input:checked + .slider::before {
  transform: translateX(24px);
}

.settings-form .ingredients-container {
    background-color: var(--gray);
    border-radius: 8px;
    justify-self: center;
    width: calc(100% - 4.5rem);
    min-height: 1.6rem;
    max-height: 11.15rem;
    padding: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    overflow: auto;
}

.ingredients-container .ingredient-box {
    
    background-color: var(--black);
    height: 2.6rem;
    max-width: calc(100% - 0.8rem);
    padding: 0rem 0.4rem 0rem 0.4rem;
    border-radius: 8px;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.ingredient-box h5 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: min-content;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    margin-right: 0.4rem;
    font-weight: normal;
}

.ingredient-box button {
    /* font-size: 0.9rem; */
    /* padding: 0rem 0.5rem 0rem 0.5rem; */
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .show-setting {
        /* background-color: aqua; */
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        margin-top: 1rem;
    }

    .show-setting .header {
        width: calc(100% - 2rem);
        height: 2.6rem;
    }

    .header button {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.1rem;
    }

    .header h2 {
        font-size: 18px;
    }

    .show-setting table {
        font-size: 16px;
    }

    .show-setting thead {
        height: 2.8rem;
    }

    .table-body-settings {
        height: calc(100% - 2.6rem - 4rem);
        overflow-y: auto;
    }

    .show-setting td {
        height: 2.4rem;
    }

    .show-setting .button-container {
        width: 3.5rem;
    }

    .show-setting .name {
        width: 6rem;
    }

    .button-container button {
        padding: 0.4rem 0.8rem 0.1rem 0.8rem;
        font-size: 14px;
    }

    .back-modal .settings-form {
        max-width: calc(100% - 1rem);
        max-height: calc(100vh - 4rem);
        /* height: 20rem; */
        padding-bottom: 2rem;
        background-color: var(--black);
        border-radius: 8px;
        overflow: auto;
    }

    .settings-form h4 {
        /* margin: 0.6rem 0 0.4rem 0; */
        /* background-color: aqua; */
        width: calc(100% - 2rem);
    }

    .inline-normal h4 {
        width: calc(100% - 0rem);
        font-size: 18px;
    }

    .settings-form input:not([type="file"], [type="checkbox"]) {
        width: calc(100% - 4rem);
    }

    .settings-form .file-input {
        width: calc(100% - 3.4rem);
    }

    .upload-btn {
        font-size: 1rem;
    }

    .settings-form .notes-box {
        width: calc(100% - 4rem);
    }

    .settings-form .submit {
        width: calc(100% - 4rem);
        font-size: 1.1rem;
    }

    .settings-form .inline-normal {
        padding: 0 1rem 0 1rem;
    }

    .settings-form .inline-title-button {
        padding: 0 1rem 0 1rem;
    }

    .settings-form .image-div {
        width: calc(50% - 0.4rem); 
    }

    .image-div span {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .settings-form .right-setting, .settings-form .left-setting  {
        width: calc(50% - 0.4rem);
        justify-items: left;
    }

    .left-setting input, .right-setting input {
        width: calc(100% - 2rem) !important;
        background-color: darkslategrey;
    }

    .right-setting .switch {
        margin-bottom: 0.4rem;
        margin-top: 0.45rem;
        justify-self: center;
        /* display: flex; */
        margin-left: calc(100% - 52px);
    }

    .switch {
        width: 48px;
        height: 24px;
    }

    .slider::before {
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 2px;
    }

    .switch input:checked + .slider::before {
        transform: translateX(22px);
    }

    .settings-form select {
        width: calc(100% - 2rem);
        font-size: 1rem;
    }

    .settings-form .ingredients-container {
        background-color: var(--gray);
        width: calc(100% - 2.5rem);
    }

    .ingredient-box h5 {
        font-size: 1rem;
    }
}