.show-cart {
    /* background-color: aqua; */
    width: calc(100% - 6rem);
    height: calc(100% - 4rem);
    justify-self: center;
    margin-top: 2.5rem;
    background-color: var(--gray);
}

.show-cart table {
    width: 100%;

    font-size: 1.1rem;

    border-collapse: separate;
    border-spacing: 0 0.3rem;
}

td, th {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.show-cart thead {

    height: 3rem;
    
    background-color: var(--yellow);
    color: var(--black);

}

.table-body {
    height: calc(95% - 7rem);
    overflow-y: auto;
}

.show-cart td {
    background-color: var(--black);
    height: 2.5rem;
}

.show-cart .price {
    width: 8rem;
    text-align: center;
    
}

.show-cart .discount {
    width: 6rem;
    text-align: center;
}

.show-cart .quantity {
    width: 10rem;
    text-align: center;

}

.quantity button {
    background-color: var(--yellow);
    border: none;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem;
    border-radius: 8px;
    font-size: 0.9rem;
    color: var(--black);
}

.quantity button:hover {
    background-color: var(--sec-yellow);
}

.quantity .edit {
    margin-right: 0.5rem;
}

.quantity span {
    background-color: var(--gray);
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 8px;
}

.show-cart .price-unit {
    width: 7rem;
    text-align: center;

}

.show-cart .name {
    width: 10rem;
    text-align: left;
    padding-left: 1rem;

}

.show-cart .bot-table {
    display: flex;
    align-items: end;
    justify-content: space-between;

    margin-top: 1.5rem;
    
}

.bot-table button {
    padding-bottom: 0%;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;

    width: 12rem;
    height: 3.2rem;

}

.bot-table button:hover {
    background-color: var(--sec-yellow);
}

.bot-table .total-price {
    height: 3rem;

    padding-bottom: 0.2rem;

    width: 15rem;
    background-color: var(--black);
    border-radius: 8px;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;
}

.total-price b {
    color: var(--yellow);
}

@media (max-width: 800px) {
    .show-cart {
        width: calc(100% - 2rem);
        height: calc(100% - 1rem);
        margin-top: 0.5rem;
    }

    .quantity .minus, .quantity .plus {
        display: none;
    }

    .show-cart table {
        font-size: 16px;
        border-spacing: 0 0.2rem;
    }

    .show-cart thead {
        height: 2.4rem;
    }

    .table-body {
        height: calc(100% - 7rem);
        overflow-y: auto;
    }

    .show-cart td {
        height: 2.2rem;
    }

    .show-cart .bot-table {
        margin-top: 1rem;
        
    }

    .bot-table button {

        font-size: 18px;

        width: 10rem;
        height: 2.8rem;

    }

    .bot-table .total-price {
        height: 2.8rem;

        padding-bottom: 0rem;

        width: 14rem;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .show-cart table {

        font-size: 13px;
    }

    .quantity span {
        background-color: var(--gray);
        padding: 0.3rem 0.6rem 0.1rem 0.6rem !important;
        margin: 0 0.5rem 0 0.5rem;
        border-radius: 8px;
    }

    .table-body {
        height: calc(100% - 7rem);
        overflow-y: auto;

    }

    .bot-table button {
        font-size: 15px;
        width: 7rem;
        height: 2.8rem;

    }

    .bot-table .total-price {
        height: 2.8rem;

        width: calc(100% - 8rem);
        font-size: 15px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}