.show-cart {
    /* background-color: aqua; */
    width: calc(100% - 6rem);
    height: calc(100% - 4rem);
    justify-self: center;
    margin-top: 2.5rem;
    background-color: var(--gray);
}

.show-cart table {
    width: 100%;

    font-size: 1.1rem;

    border-collapse: separate;
    border-spacing: 0 0.3rem;
}

.show-cart thead {

    height: 3rem;
    
    background-color: var(--yellow);
    color: var(--black);

}

.table-body {
    height: calc(95% - 7rem);
    overflow-y: auto;
}

.show-cart td {
    background-color: var(--black);
    height: 2.5rem;
}

.show-cart .price {
    width: 8rem;
    text-align: center;

}

.show-cart .discount {
    width: 10rem;
    text-align: center;
  
}

.show-cart .quantity {
    width: 15rem;
    text-align: center;

}

.quantity button {
    background-color: var(--yellow);
    border: none;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem;
    border-radius: 8px;
    font-size: 0.9rem;
    color: var(--black);
}

.quantity button:hover {
    background-color: var(--sec-yellow);
}

.quantity .edit {
    margin-right: 0.5rem;
}

.quantity span {
    background-color: var(--gray);
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 8px;
}

.show-cart .price-unit {
    width: 10rem;
    text-align: center;

}

.show-cart .name {
    width: 24rem;
    text-align: left;
    padding-left: 1rem;

}

.show-cart .bot-table {
    display: flex;
    align-items: end;
    justify-content: space-between;

    margin-top: 1.5rem;
    
}

.bot-table button {
    padding-bottom: 0%;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;

    width: 12rem;
    height: 3.2rem;

}

.bot-table button:hover {
    background-color: var(--sec-yellow);
}

.bot-table .total-price {
    height: 3rem;

    padding-bottom: 0.2rem;

    width: 15rem;
    background-color: var(--black);
    border-radius: 8px;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;
}

.total-price b {
    color: var(--yellow);
}