.back-select .search-bar {
    width: 100%;
    height: 3.2rem;
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
}

.search-bar .bakery-bar {
    width: calc(100% - 1.6rem - 10rem);
    height: 3.2rem;
    /* background-color: aqua; */
    /* padding: 0.5rem 0 0.5rem 0; */
    margin: 0rem 0.8rem 0 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.6rem;

    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;

    /* padding-bottom: 0.5rem; */
}

.bakery-bar button {
    background-color: var(--black);
    /* height: 3rem; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* margin: 0.3rem 0 0.3rem 0; */
    align-content: center;
    border-radius: 8px;
    border: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.bakery-bar .selected {
    background-color: var(--yellow);
    color: var(--black);
}

.bakery-bar button:hover {
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
}

.search-bar .search-container {
    /* background-color: brown; */
    height: 4rem;
    width: 10rem;
}

.search-bar .op-right {
    /* display: flex; */
    margin-top: 0.9rem;
    margin-right: 0.8rem;
    height: 2.2rem;
    justify-content: end;
    /* align-items: center; */
}

.back-select .stats-body {
    /* background-color: chocolate; */
    width: calc(100% - 1.6rem);
    height: calc(100% - 4rem - 0.6rem);
    justify-self: center;
    
    margin-top: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    overflow-x: hidden;
}

.stats-body h3 {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 1rem;
}

.stats-body .all-stats-container {
    /* background-color: cornflowerblue; */
    height: 100%;
    /* max-width: calc(50% - 0.5rem); */
    flex: 1 1 30rem; 
    /* width: calc(50% - 4rem); */
    /* border-radius: 8px; */
    
}

.all-stats-container .stats-sub-container {
    background-color: var(--black);
    width: 100%;
    height: calc(50% - 0.3rem);
    border-radius: 8px;
}

.all-stats-container .stats-sub-container-botton {
    background-color: var(--black);
    width: 100%;
    height: calc(50% - 0.3rem);
    margin-top: 0.6rem;
    border-radius: 8px;
}

.all-stats-container .stats-sub-container-botton-2 {
    /* background-color: aqua; */
    width: 100%;
    height: calc(50% - 0.3rem);
    margin-top: 0.6rem;
    /* border-radius: 8px; */
    flex-direction: column;
    display: flex;
    gap: 0.6rem;
    overflow: auto;
}

.all-stats-container .graphic {
    /* background-color: aqua; */
    width: 100%;
    height: calc(100% - 2.2rem);
}

.all-stats-container h2 {
    padding-top: 0.2rem;
    height: 2rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
}

.stats-sub-container-botton-2 .top-stat {
    width: 100%;
    height: calc(25% - 0.45rem);
    background-color: var(--black);
    border-radius: 8px;
    align-content: center;
}

.top-stat h3 {
    margin: 0;
    padding: 0;
}

.top-stat b {
    color: var(--yellow);
}

