.show-stock {
    /* background-color: aqua; */
    width: calc(100% - 6rem);
    height: calc(100% - 4rem);
    justify-self: center;
    margin-top: 2.5rem;
    background-color: var(--gray);
}

.show-stock table {
    width: 100%;
    table-layout: fixed; 
    font-size: 1.1rem;
    border-collapse: separate;
    border-spacing: 0 0.3rem;
}

.show-stock thead {

    height: 3rem;
    
    background-color: var(--yellow);
    color: var(--black);

}

.table-body-stock {
    height: calc(100% - 5rem);
    overflow-y: auto;
    /* background-color:aqua; */
}

.show-stock td {
    background-color: var(--black);
    height: 2.5rem;
}


.show-stock .quantity-stock {
    width: 6rem;
    /* min-width: 14rem; */
    text-align: center;
}

.quantity-stock button {
    background-color: var(--yellow);
    border: none;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem;
    border-radius: 8px;
    font-size: 0.9rem;
    color: var(--black);
}

.quantity-stock button:hover {
    background-color: var(--sec-yellow);
}

/* .quantity .edit {
    margin-right: 0.5rem;
} */

.quantity-stock span {
    display: inline-block;
    
    background-color: var(--gray);
    padding: 0.3rem 0.6rem 0.05rem 0.6rem;
    margin: 0 0.5rem 0rem 0.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: normal;
    min-width: 1.4rem;
    /* height: 2rem; */
}

.show-stock .name {
    width: 15rem;
    text-align: left;
    padding-left: 1rem;
    /* background-color: aqua; */
    /* max-width: 10rem; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name svg, .quantity-stock svg {
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    .show-stock {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        margin-top: 1rem;
    }

    .show-stock table {
        font-size: 16px;
    }

    .show-stock thead {
        height: 2.8rem;
    }

    .table-body-stock {
        height: calc(100% - 3.5rem);
        overflow-y: auto;
    }

    .show-stock .quantity-stock {
        width: auto;
        /* min-width: 14rem; */
        text-align: center;
    }

    .show-stock .name {
        width: auto;
        text-align: left;
        padding-left: 1rem;
        /* background-color: aqua; */
        /* max-width: 10rem; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}