.show-verify-stock {
    /* background-color: aqua !important; */
    width: calc(100% - 6rem);
    height: calc(100% - 4rem);
    justify-self: center;
    margin-top: 2rem;
    background-color: var(--gray);
    /* overflow: auto; */
}

.show-verify-stock .inline, .show-verify-stock .inline2 {
    display: flex;
    justify-content: space-between;
}

.show-verify-stock .header {
    display: flex;
    height: 2.4rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    margin-bottom: 0.4rem;
    gap: 0.6rem;
    align-items: center;
    width: min-content;
    border-radius: 20px;
    /* justify-content: center; */
    background-color: var(--black);
}

.header .search {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background-color: var(--yellow);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
}

.header .search:hover {
    
    background-color: var(--sec-yellow);
}

.header .dash {
    font-size: 1.1rem;
    width: fit-content;
}

.show-verify-stock table {
    width: 100%;
    
    font-size: 1.1rem;
    border-collapse: separate;
    border-spacing: 0 0.3rem;
}

.show-verify-stock thead {

    height: 3rem;
    
    background-color: var(--yellow);
    color: var(--black);

}

.table-body-verify-stock {
    height: calc(100% - 3.5rem - 3rem);
    overflow-y: auto;
    /* background-color:aqua; */
}

.show-verify-stock td {
    background-color: var(--black);
    height: 2.5rem;
}

.show-verify-stock .sufficient {
    text-align: center;
    min-width: 7rem;
    width: 7rem;
}

.show-verify-stock .insufficient {
    text-align: center;
    width: 7rem;
    min-width: 7rem;
    color: var(--yellow);
}

.show-verify-stock .quantity-stock-verify {
    width: 18rem;
    min-width: 14rem;
    text-align: center;
}

.quantity-stock-verify button {
    background-color: var(--yellow);
    border: none;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem;
    border-radius: 8px;
    font-size: 0.9rem;
    color: var(--black);
}

.quantity-stock-verify button:hover {
    background-color: var(--sec-yellow);
}

.quantity-stock-verify span {
    display: inline-block;
    background-color: var(--gray);
    padding: 0.3rem 0.6rem 0.05rem 0.6rem;
    margin: 0 0.5rem 0rem 0.5rem;
    border-radius: 8px;
}

.show-verify-stock .name {
    width: 40rem;
    text-align: left;
    padding-left: 1rem;
    /* background-color:blue; */
}

.name svg, .quantity-stock-verify svg {
    font-size: 1.2rem;
}

.inline2 .date-searched2 {
    display: none;
}

@media (max-width: 800px) {
    .show-verify-stock {
        /* background-color: aqua !important; */
        width: calc(100% - 1rem);
        height: calc(100% - 2rem);
        margin-top: 1rem;
    }

    .show-verify-stock table {
        font-size: 16px;
    }

    .inline2 .date-searched {
        display: none;
    }

    .inline2 .date-searched2 {
        display: initial;
    }

    .show-verify-stock .inline2 {
        display: flex;
        /* justify-content: center; */
        text-align: center;
        flex-direction: column;
    }

    .show-verify-stock .sufficient, .show-verify-stock .insufficient {
        text-align: center;
        min-width:fit-content;
        width: 3rem;
    }

    .show-verify-stock .quantity-stock-verify {
        width: 4rem;
        min-width: fit-content;
        text-align: center;
    }

    .show-verify-stock .name {
        width: 5rem;
        text-align: left;
        padding-left: 1rem;
        /* background-color:blue; */
    }

    .inline h2, .inline2 h2 {
        margin-top: 0.4rem;
        font-size: 20px;
    }

    .header input {
        font-size: 14px;
        width: 7rem;
    }
}

@media (max-width: 480px) {
    .show-verify-stock .header {
        display: flex;
        height: 2.4rem;
        padding-left: 0.1rem;
        padding-right: 0.2rem;
        margin-bottom: 0.4rem;
        gap: 0.4rem;
        align-items: center;
        width: min-content;
        border-radius: 20px;
        /* justify-content: center; */
        background-color: var(--black);
    }
    
    .show-verify-stock table {
        font-size: 14px;
    }

    .inline h2, .inline2 h2 {
        margin-top: 0.4rem;
        font-size: 18px;
    }

    
}