.quantity-form {
    width: 22rem;
    background-color: var(--black);
    border-radius: 8px;

    align-content:center;
    justify-items: center;
    text-align: center;
}

.quantity-form .form-body {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 3rem;
}

.quantity-form button {

    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.quantity-form .close-bot {
    justify-self: end;
}

.quantity-form .submit {
    width: 2.2rem;
    justify-content: center;
    justify-self: center;
    border-radius: 50%;

    height: 2.2rem;
    font-size: 1rem;
}

.quantity-form button:hover {
    background-color: var(--sec-yellow);
}

.quantity-form input {
    justify-self: center;
    display: block;
    width: 6rem;
}

@media (max-width: 800px) {
    .quantity-form {
        max-width: calc(100% - 1rem);

    }
}