.quantity-form {
    /* height: 25rem; */
    width: 22rem;
    background-color: var(--black);
    border-radius: 8px;
    /* display:grid; */
    align-content:center;
    justify-items: center;
    /* justify-content: center; */
}

.quantity-form .form-body {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 3rem;
}

.quantity-form button {
    
    /* position: absolute;
    top: 25%;
    right: 33%; */
    /* justify-self: end; */
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.2rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.4rem;
}

.quantity-form .close-bot {
    justify-self: end;
}

.quantity-form .submit {
    width: 2.2rem;
    justify-content: center;
    justify-self: center;
    border-radius: 50%;
    /* margin-top: 1.5rem;
    margin-bottom: 1.8rem; */
    height: 2.2rem;
    font-size: 1rem;
}

.quantity-form button:hover {
    background-color: var(--sec-yellow);
}

.quantity-form input {
    justify-self: center;
    display: block;
    width: 6rem;
}